<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="//cdn.doordash.com/static/img/favicon@2x.ico?dd-nonce" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <title>{{.ExternalDeliveryId}} delivery details | Request a Dasher</title>
</head>

<body>
  <main>
    <header class="p-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center justify-content-center justify-content-lg-start">
            <img class="me-2" style="width: 2em" src="/DoorDash_icon_RGB.svg" />
          </a>
          <ul class="nav col justify-content-center justify-content-lg-start">
            <li>
              <a href="/" class="nav-link text-white">Request a Dasher</a>
            </li>
            <li>
              <a href="/deliveries" class="nav-link text-white fw-bold" aria-current="page">Deliveries</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    {{if eq .StackName "prod"}}
    <div class="alert alert-warning" role="alert">
      <div class="container">
        This is a <strong>production</strong> instance. A Dasher will show up
        when you request them; make sure you're ready with your item!
      </div>
    </div>
    {{end}} {{if eq .StackName "sandbox"}}
    <div class="alert alert-info" role="alert">
      <div class="container">
        This is a <strong>sandbox</strong> instance. Feel free to play around
        and create as many deliveries as you like; no Dashers will be
        dispatched.
      </div>
    </div>
    {{end}}
    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <div class="row">
            <h2 class="mb-3 fs-4">Select a delivery</h2>
          </div>
          <form method="POST" action="/deliveries">
            <div class="row g-2">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-text">RAD-</span>
                  <input type="text" class="form-control" id="externalDeliveryId" name="externalDeliveryId" required
                    value="{{.DeprefixedDeliveryId}}" />
                </div>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary mb-3" type="submit">
                  Get status
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-8">
          <h2 class="mb-3 fs-4">
            Delivery details{{if ne .DeliveryStatus ""}}
            <span class="fs-6">(<a href="{{.TrackingUrl}}" target="_blank">view on Drive Portal</a>)</span>{{end}}
          </h2>
          {{if ne .DeliveryStatus ""}}
          <div class="card mb-3">
            <div class="card-body">
              <div class="progress mb-3">
                <div class="progress-bar {{.DeliveryStatusProgressBarClasses}}" role="progressbar"
                  style="width: {{.DeliveryStatusPercentage}}%" aria-valuenow="{{.DeliveryStatusPercentage}}"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{{.DeliveryStatusFriendly}}</p>
              <div class="row g-5">
                <div class="col-lg">
                  <h4 class="fs-5">
                    Pickup{{if eq .PickupTimeEstimated .PickupTime}}
                    (estimated){{end}}
                  </h4>
                  <span class="date">{{.PickupTime}}</span> (<span class="currentTimezone"></span>)
                </div>
                <div class="col-lg">
                  <h4 class="fs-5">
                    Dropoff{{if eq .DropoffTimeEstimated .DropoffTime}}
                    (estimated){{end}}
                  </h4>
                  <span class="date">{{.DropoffTime}}</span> (<span class="currentTimezone"></span>)
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <form method="POST" action="/">
                <div class="row g-5">
                  <div class="col-lg">
                    <h3 class="mb-3 fs-5">From</h3>
                    <div class="row mb-3">
                      <div class="col">
                        <label for="whereFrom" class="form-label">Address</label>
                        <input type="text" class="form-control mb-3" id="whereFrom" name="whereFrom" required
                          value="{{.PickupAddress}}" disabled />
                        <div class="map border" id="whereFromMap" style="width: 100%; height: 200px"></div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <label for="pickupPhone" class="form-label">Phone number</label>
                        <div class="input-group">
                          <span class="input-group-text">+1</span>
                          <input type="tel" pattern="\([0-9]{3}\) [0-9]{3}-[0-9]{4}" class="form-control phone"
                            id="pickupPhone" name="pickupPhone" required value="{{.PickupPhoneNumber}}" disabled />
                        </div>
                      </div>
                    </div>
                    <div class="collapse extras" id="whereFromExtras">
                      <div class="row mb-3">
                        <div class="col">
                          <label for="pickupBusinessName" class="form-label">Sender's name
                            <span class="text-muted">(Optional)</span></label>
                          <input type="text" class="form-control" id="pickupBusinessName" name="pickupBusinessName"
                            disabled />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <label for="pickupInstructions" class="form-label">Pickup instructions
                            <span class="text-muted">(Optional)</span></label>
                          <input type="text" class="form-control" id="pickupInstructions" name="pickupInstructions"
                            value="{{.PickupInstructions}}" disabled />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <label for="pickupReferenceTag" class="form-label">Pickup reference tag
                            <span class="text-muted">(Optional)</span></label>
                          <input type="text" class="form-control" id="pickupReferenceTag" name="pickupReferenceTag"
                            value="{{.PickupReferenceTag}}" disabled />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg">
                    <h3 class="mb-3 fs-5">To</h3>
                    <div class="row mb-3">
                      <div class="col">
                        <label for="whereTo" class="form-label">Address</label>
                        <input type="text" class="form-control mb-3" id="whereTo" name="whereTo" required
                          value="{{.DropoffAddress}}" disabled />
                        <div class="map border" id="whereToMap" style="width: 100%; height: 200px"></div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm">
                        <label for="dropoffPhone" class="form-label">Phone number</label>
                        <div class="input-group">
                          <span class="input-group-text">+1</span>
                          <input type="tel" pattern="\([0-9]{3}\) [0-9]{3}-[0-9]{4}" class="form-control phone"
                            id="dropoffPhone" name="dropoffPhone" value="{{.DropoffPhoneNumber}}" disabled />
                        </div>
                      </div>
                    </div>
                    <div class="collapse extras" id="whereToExtras">
                      <div class="row mb-3">
                        <div class="col">
                          <label for="dropoffBusinessName" class="form-label">Receiver's name
                            <span class="text-muted">(Optional)</span></label>
                          <input type="text" class="form-control" id="dropoffBusinessName" name="dropoffBusinessName"
                            value="{{.DropoffBusinessName}}" disabled />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <label for="dropoffInstructions" class="form-label">Drop-off instructions
                            <span class="text-muted">(Optional)</span></label>
                          <input type="text" class="form-control" id="dropoffInstructions" name="dropoffInstructions"
                            value="{{.DropoffInstructions}}" disabled />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <div class="row g-5">
                  <div class="col-sm">
                    <label for="orderValue" class="form-label">Order value</label>
                    <div class="input-group">
                      <span class="input-group-text">$</span>
                      <input type="text" pattern="[0-9]{0,3}.[0-9]{2}" class="form-control money" id="orderValue"
                        name="orderValue" required value="{{.OrderValue}}" disabled />
                    </div>
                  </div>
                  <div class="col-sm">
                    <label for="tip" class="form-label">Tip</label>
                    <div class="input-group">
                      <span class="input-group-text">$</span>
                      <input type="text" pattern="[0-9]{0,3}.[0-9]{2}" class="form-control money" id="tip" name="tip"
                        required value="{{.Tip}}" disabled />
                    </div>
                  </div>
                  <div class="col-sm">
                    <label for="tip" class="form-label">Options</label>
                    <div class="form-check form-switch mt-1">
                      <input class="form-check-input" type="checkbox" id="contactlessDropoff" name="contactlessDropoff"
                        disabled {{if eq .ContactlessDropoff true}}checked{{end}} />
                      <label class="form-check-label" for="flexCheckDefault">
                        Contactless
                      </label>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <div class="row mb-3">
                  <div class="col-sm-6 col-md-8 mb-3">
                    <button class="w-100 btn btn-primary btn-lg" type="submit" disabled>
                      Update delivery (coming soon)
                    </button>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3">
                    <button class="w-100 btn btn-outline-secondary btn-lg" id="moreInfoButton" type="button"
                      data-bs-toggle="collapse" data-bs-target=".extras" aria-expanded="false"
                      aria-controls="collapseExample">
                      Show more info
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    <div style="display: none">{{.DebugInfo}}</div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="/js/vendor/jquery.mask.min.js"></script>
  <script src="/js/forms.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSHNSvdXgYggoi75cf4YMMK2q3sPOR2w8&libraries=places&callback=initMap&solution_channel=GMP_QB_addressselection_v1_cAB"
    async defer></script>
</body>

</html>